.jodit-workplace {
    background-image: url("../../../../public/images/sheet.jpg");
    background-size: 100%;
}

.change-links__wrapper {
    margin: 0 15px;
    max-width: 1300px;
    width: 100%;
}