a {
    text-decoration: none;
    color: inherit;
    font-size: 1.1rem;
}

.list_links {
    border: 1px solid black;
    padding: 20px;
    background-color: rgb(23 89 103);
    max-width: 1000px;
    // min-width: 300px;
    min-height: 300px;
    color: white;
    border-radius: 20px;

    .list-group-item {
        background-color: #cbcbcc;

        a {
            color: black !important;
        }

        a:hover {
            color: rgb(89, 20, 20) !important;
        }
    }
}