.list-links {
    border: 1px solid black;
    padding: 20px;
    background-color: rgba(23, 89, 103, 0.9);
    min-height: 300px;
    color: white;
    border-radius: 20px;
    margin-bottom: 20px;

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__header {
        .breadcrumb {
            background-color: #316dc0;
            padding: 5px;
            border-radius: 10px;
        }

        .breadcrumb-item::before {
            color: aliceblue;
        }
    }

    .list-group-item.color-link {

        background-color: rgb(112, 136, 217);

        a {
            color: black !important;
        }

        a:hover {
            color: rgb(89, 20, 20) !important;
        }
    }

    .list-group-item.color-article {

        background-color: cadetblue;

        button {
            color: black !important;
        }

        a:hover {
            color: rgb(89, 20, 20) !important;
        }
    }
}

@media(max-width: 576px) {
    .list_links {
        grid-column: 1/3;
    }
}