.main .article {
    // background-color: aliceblue;
    // background-image: url("/images/sheet.jpg");
    grid-column-start: 1;
    grid-column-end: 3;
    padding: 20px;
    border-radius: 20px;
    border: 2px solid black;
    background-color: white;
    width: 100%;

    p {
        text-align: left;
    }

    .back-home {
        position: relative;
        display: block;
        left: 0;
        text-align: left;
    }

    &__close {
        display: flex;
        justify-content: flex-end;
    }
}

@media(max-width: 576px) {
    .article {}
}