body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  background-color: transparent;
  cursor: pointer;
  outline: none;
  border: 1px solid transparent;
  transition: border-color 0.3s ease-in-out;

}

button:focus {
  border-color: aqua;
}

button:hover {
  // filter: contrast(20%);
  // background-color: blueviolet;
}

body {
  background-image: url('./images/gd5.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  min-width: 350px;

}

.modal-window {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(#faebd7, 0);
  z-index: 10;

  &__wrapper {
    position: absolute;
    // padding: 10px;
    transition-duration: 1s;
    transition-behavior: allow-discrete;
    display: none;
    opacity: 0;
    // scale: 0;
    // max-width: 500px;
    width: 100%;
    min-height: 200px;
    background-color: #ced7d4;
    border: 1px solid red;
    border-radius: 15px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &__wrapper.open {
    display: block;
    opacity: 1;
    // scale: 1;

    @starting-style {
      opacity: 0;
      // scale: 0;
    }
  }


  .add-other__action,
  .add-other__links,
  .change-links__action,
  .change-links__links {
    display: flex;
    flex-direction: column;
    padding: 5px;
    gap: 10px;
    margin: auto 13px;

    label {
      padding-left: 30px;
      cursor: pointer;
    }

    input {
      left: 0;
      top: 6px;
      // position: absolute;
      cursor: pointer;

    }

    &__btn {
      margin-top: 20px;
      max-width: 100px;
      width: 100%;
      background-color: aquamarine;
      border-radius: 5px;
    }

    .jodit-react-container {
      // position: fixed;
      // height: 700px;
    }

    .jodit-workplace {
      min-height: 300px !important;
    }
  }

  .change-links__action,
  .add-other__action,
  .action .form-control {
    width: 250px;
  }

  .action-type {
    position: relative;

    input {
      position: static;
    }
  }

  .select-action {
    width: 250px;
  }

  .add-category__btn-close {
    position: absolute;
    top: 10px;
    right: 10px;
  }

  .openmodal {
    background-color: #faebd7;
  }

}









canvas {
  display: block;
  vertical-align: bottom;
}

/* ---- particles.js container ---- */

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #b61924;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

/* ---- stats.js ---- */

.count-particles {
  background: #000022;
  position: absolute;
  top: 48px;
  left: 0;
  width: 80px;
  color: #13E8E9;
  font-size: .8em;
  text-align: left;
  text-indent: 4px;
  line-height: 14px;
  padding-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.js-count-particles {
  font-size: 1.1em;
}

#stats,
.count-particles {
  -webkit-user-select: none;
}

#stats {
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}

.count-particles {
  border-radius: 0 0 3px 3px;
}