body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  background-color: transparent;
  cursor: pointer;
  outline: none;
  border: 1px solid transparent;
  transition: border-color 0.3s ease-in-out;

}

button:focus {
  border-color: aqua;
}

button:hover {
  // filter: contrast(20%);
  // background-color: blueviolet;
}

#root {
  background-image: url('./images/gd2.jpg');
  background-size: 100% 100%;
}

.modal-window {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(#faebd7, 0);
  z-index: 10;

  &__wrapper {
    position: absolute;
    transition-duration: 1s;
    transition-behavior: allow-discrete;
    display: none;
    opacity: 0;
    // scale: 0;
    // max-width: 80%;
    width: 80%;
    min-height: 200px;
    background-color: #628076;
    border: 1px solid red;
    border-radius: 15px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &__wrapper.open {
    display: block;
    opacity: 1;
    // scale: 1;

    @starting-style {
      opacity: 0;
      // scale: 0;
    }
  }
}

.openmodal {
  background-color: #faebd7;
}